/* You can add global styles to this file, and also import other style files */
html{
  text-align: center;
  background: linear-gradient(to right, rgb(77, 77, 241), pink);
}

a.link {
  width:100px;
  text-align:center;
  display:block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border: #ffffff 1px solid;
  color: #ffffff;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 20px auto;
  transition: .5s;
  border-radius: 0px;
}
a.link:hover {
  top: 5px;
  transition: .5s;
  color: #6de996;
  border: #6de996 1px solid;
  border-radius: 10px;
}
a.link:active {
  color: #000;
  border: #1A1A1A 1px solid;
  transition: .07s;
  background-color: #FFF;
}