html{
  text-align: center;
  background: #ffffff;
}

body { 
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

a.link {
  width:100px;
  text-align:center;
  display:block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border: #000000 1px solid;
  color: #000000;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px auto;
  transition: .5s;
  border-radius: 0px;
}
a.link:hover {
  top: 5px;
  transition: .5s;
  color: #673AB7;
  border: #673AB7 1px solid;
  border-radius: 10px;
}
a.link:active {
  color: #000;
  border: #1A1A1A 1px solid;
  transition: .07s;
  background-color: #FFF;
}