<mat-toolbar class="toolbar">
  <strong>Личный кабинет</strong>
</mat-toolbar>
<div *ngIf="user">
    <h1>Личный кабинет</h1>
      <h2>{{user.secondName}} {{user.name}} {{user.middleName}}</h2>
      <h3>День рождение: {{user.birthdate}}</h3>
      <h3>Email: {{user.email}}</h3>
      <h3>Номер телефона: {{user.phoneNumber | phone}}</h3>
</div>
<a class="link" [routerLink]="['../rename/{{user.id}}']">Редактировать профиль</a>
<a class="link" [routerLink]="['/authTable']">Записаться на прием</a>
<h3>
  Ваши записи
</h3>
<app-skeleton-loader *ngIf="!load"></app-skeleton-loader>
<div *ngFor="let record of records">
    <div *ngIf="record.userId===user?.id">
      <app-table-info [time]="record"></app-table-info>
      <button (click)="cancelRecord(record)">Отменить запись</button>
    <br>
  </div>
</div>