.table-info{
    margin: auto;
    align-content: center;
    width: 400px;
    height: 160px;
    border:2px solid #000000;
    border-radius: 10px;
    color: #ffffffe1;
    text-decoration: underline;
    font-size: 14px;
  }