.table-info{
  margin: auto;
  align-content: center;
  width: 400px;
  height: 160px;
  border:2px solid #000000;
  border-radius: 10px;
  color: #ffffffe1;
  text-decoration: underline;
  font-size: 14px;
}

button {
  text-align:center;
  display:block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border: #000000 1px solid;
  color: #000000;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  transition: .5s;
  border-radius: 0px;
  background-color: #FFF;
}