<a class="link" [routerLink]="['']">На главную</a>
<a class="link" [routerLink]="['/login']">Регистрация</a>
<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-content">
    <H4 class="form-title">Создать аккаунт</H4>
    <div class="input-field">
      <label for="name">Name*:</label>
      <input formControlName="name" id="name" type="text" placeholder="Иван">
    </div>
    <br>
    <div class="input-field">
      <label for="name">Second name*:</label>
      <input formControlName="second_name" type="text" placeholder="Иванов">
    </div>
    <br>
    <div class="input-field">
      <label for="middle_name">Middle name:</label>
      <input formControlName="middle_name" type="text" placeholder="Иванович">
    </div>
    <br>
    <div class="input-field">
      <label for="email">Email*:</label>
      <input formControlName="email" id="email" type="email" placeholder="example@gmail.com">
    </div>
    <br>
    <div class="input-field">
      <label for="password">Password*:</label>
      <input formControlName="password" id="password" type="password" required aria-required="true">
      </div>
    <br>
    <div class="input-field">
      <label for="birthdate">Birthdate*:</label>
      <input formControlName="birthdate" id="birthdate" placeholder="01.01.1970">
    </div>
    <br>
    <div class="input-field">
      <label for="phone_number">Phone number*:</label>
      <input formControlName="phone_number" id="phone_number"  placeholder="89121234567">
    </div>
    <br>
    <div class="input-field">
      <label for="telegram">telegram:</label>
      <input formControlName="telegram" id="telegram" placeholder="@">
    </div>
    <br>
  </div>
  <strong>*поля обязательные к заполнению</strong>
  <br><br>
  <div class="form-action">
    <button type="submit" [disabled]="form.invalid" (click)="onSubmit()">Зарегистрироваться</button>
  </div>
</form>
