.title{
  color: #ffffff;
  font: 40px;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.btnExit {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
}